
<h3>Booked Flights</h3>
<% @bookings.each do |booking| %>
  <label><%= link_to booking.flight.name, booking_path(booking) %></label>
<% end %>

<br></br>

<h3>Book a New Flight </h3>
<%= form_for(@booking) do |f| %>
  Flight Number
<%= f.text_field :flight %><br>
<%= f.submit %>
<% end %>
