  <%= render 'navbar' %>

  <h2><%= current_user.name%>'s Booking Flights<% @bookings.each do |booking| %></h2>
  Passenger: <%= link_to "#{booking.user.name}'s Confirmation", booking_path(booking.user_id) %>
  Flight: <%= booking.flight.name %><br>

  <% end %><br></br>
