  <%= render 'navbar' %>

  <h2>Booked Flights<% @bookings.each do |booking| %></h2>
  Passenger: <%= link_to booking.user.name, user_path(booking.user_id) %>
  Flight: <%= booking.flight.name %><br>
  <%= link_to "Booking Details", user_booking_path(booking, booking.user_id)%>
  <% end %><br></br>
