  <h2>Booked Flights<% @bookings.each do |booking| %></h2>
  <h3> by: <%= link_to booking.user.name, user_path(booking.user_id) %></h3>
  <p>Description: <%= booking.description %></p><br>
  <% end %>

<h3><%= link_to "See All Flights", flights_path %></h3>
<h3><%= link_to "Log Out", '/sessions/destroy' %></h3>
