<% if current_user.admin = 1 %>
  <h1> ADMIN </h1>

<h1> All Users</h1>
  <% @users.each do |user|%>
    <br>
    <h4>Name: <%= user.name %><h4>
  <% end %>

<% else %>
  <h1><%= link_to "See All Flights", flights_path %><br></h1>
<% end %>


<h4><%= link_to "Log Out", '/sessions/destroy' %></h4>
