<% if @user.admin %>
  <h1>ADMIN</h1>
<% end %>


<h1><%= @user.name %>'s Booked Flights</h1><br>

  <% @user.flights.map do |flight| %>

    <%= flight.destination %>
  <% end %>



 <br></br>

 <%= link_to "See All Flights", flights_path %><br>
