<div class="container" role="main">
  <div>
     <div style="height: 60px;margin:auto">
      <img src="https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
     </div>
    <h1 align="center">Rocket Airlines</h1>
  </div>
</div>
